$font-family-base: 'Montserrat'
$primary: #021032
$secondary: #0b50cd
$info: #e7e9f1
// example of changing header burger bg
// $header-burger-bg: red

// 
// here redeclare base colors and sizes
// 

$slider-btn-color: white

@import "~bootstrap/scss/bootstrap.scss";

// base styles of all icex-landing-uikit components
@import "~icex-landing-uikit/index.sass";